*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-menu {
    display: flex;
    flex-direction: column; /* Выстраиваем в линию */
    align-items: center; /* Центрируем лого и текст по вертикали */
    gap: 20px;           /* Расстояние между логотипом и текстом */
    padding: 10px;
    width: 100%;
    text-align: center;
}
.logo img {
    display: flex;
    height: auto;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3%;
    justify-content: center;
}
.choose a{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    width: 30%;
}

.object {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
}

.object .aavd:hover {
    transform: translate(20px, 20px);
    box-shadow: -20px -20px 0 0 rgba(128, 128, 128, 0.6);
}
.object .ravd:hover {
    transform: translate(20px, 20px);
    box-shadow: 0 -20px 0 0 rgba(128, 128, 128, 0.6);
}
.object .rrvd:hover {
    transform: translate(20px, 20px);
    box-shadow: 20px 20px 0 0 rgba(128, 128, 128, 0.6);
}

.object-image{
    display: flex;
    width: 33%;
}

.responsive-img{
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    display: block;
    height: auto;
}

@media (max-width: 768px) {
    .main-menu {
        text-align: center;
    }
    .choose{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }

    .choose a{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .header-title h1 {
        font-size: 1.2rem;
    }

    .object-image{
        display: flex;
        width: 100%;
        margin: 10px;
    }
}


