*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;           
    padding: 10px;
    width: 100%;
    text-align: center;
}
.logo img {
    display: flex;
    height: auto;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3%;
    justify-content: center;
}
.choose a{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    width: 30%;
}

#aavd:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease
    transform: translateX(10px); 
    box-shadow: -20px 10px 0px 0px rgba(128, 128, 128, 0.5);
}

#ravd:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease
    transform: translateY(10px) ; 
    box-shadow: 0 20px 0px 0px rgba(128, 128, 128, 0.5);
}

#rrvd:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease
    transform: translateX(-10px); 
    box-shadow: 20px 10px 0px 0px rgba(128, 128, 128, 0.5);
}

.object-image{
    display: flex;
    width: 33%;
}

.responsive-img{
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    display: block;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .main-menu {
        text-align: center;
    }
    .choose{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }
    .object:click {
    transition: transform 0.3s ease, box-shadow 0.3s ease
    transform: translate(10px, 10px);
    box-shadow: -10px -10px 0 0 rgba(128, 128, 128, 0.6);
    }
    
    .choose a{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .header-title h1 {
        font-size: 1.2rem;
    }

    .object-image{
        display: flex;
        width: 100%;
        margin: 10px;
    }
}




